:root {
  --background: #eaeaea;
  --foreground: #ced0d1;
  --light-ths: #f9f9f9;
  --dark-ths: #151515;
  --custom-white-light-only: #fefefe;
}

.radix-themes {
  --container-1: 448px;
  --container-2: 688px;
  --container-3: calc(100% - 48px);
  --container-4: calc(1680px);

  --custom-black: #202020;
  --custom-white: #fefefe;
  --custom-black-mode: #fefefe;
}

html:not(.dark) .radix-themes {
  --color-background: #eaeaea;
  --custom-black-mode: #202020;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-scrollbar-vertical {
  top: 50% !important;
  right: 0px !important;
  transform: translate(0, -50%) !important;
  height: 100px !important;
}

.swiper-scrollbar-drag {
  background-color: var(--mauve-3) !important;
}
.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(
    .swiper-slide-prev
  )
  div {
  opacity: 0;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
